body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(42, 97%, 40%);
    overflow: hidden;
}

#gameCanvas {
    border: 0px solid black;
    display: block;
}